@model IEnumerable<blog.Models.RestuarantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

@*<form method="get" class="form-group">
    <input type="search" name="searchTerm" class="form-control" />
    <input type="submit" name="Search By Values" class="btn btn-default" />
</form>*@

@using (Ajax.BeginForm("Index", "Home",
                                        new AjaxOptions
                                        {
                                            HttpMethod = "get",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "restuarantList"
                                        }))
 {
    <input type = "search" name = "searchTerm" class="form-control"  />
    <input type="submit" name="Search By Name" class="btn btn-default" />
}



@Html.Partial("_Restuarants", Model)